body {
    font-family: "Arial", Arial, Helvetica, sans-serif;
    background-color: #dfe3ee;
}

header {
    text-align: center;
    padding: 5% 5% 5% 5%;
    margin: 1%  100 1% 100%;
    opacity: 5%;
}

.main-image {
    border-radius: 50%;
}

h1 {
    
    text-align: center;
    padding: 5px;
}

.section-title {
    color: #466995;
    text-align: center;
}

.section {
    text-align: center;
    border-radius: 18%;
    background-color: #f7f7f7;
    margin: 1% 30% 1% 30%;
    padding: 2% 3% 2% 3%;
}

ul {
    text-align: left;
}

footer {
    text-align: center;
}

.fa {
    padding: 15px;
    font-size: 35px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    color:white;;
    background-color:#8b9dc3;
    text-decoration: none;
}

p {
    text-align: left;
}
