body {
    font-family: "Arial", sans-serif;
    background-color: #dfe3ee;
}

header {
    text-align: center;
    padding: 5% 5% 5% 5%;
    margin: .5%  100 .5% 100%;
    background-color: #8b9dc3;
}

.main-image {
    border-radius: 50%;
}

h1 {
    text-align: center;
    margin: 0%;
}

.section-title {
    color: #466995;
    text-align: center;
}

.section {
    text-align: center;
    background-color: #f7f7f7;
    margin: 10px 250px 10px 250px;
    padding: 2% 3% 2% 3%;
}

ul {
    text-align: left;
}

footer {
    text-align: center;
    margin-top: 5%;
}

.fa {
    padding: 15px;
    font-size: 35px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    color:white;;
    background-color:#8b9dc3;
    text-decoration: none;
    margin-top: .5%;
}

p {
    text-align: left;
}
